$header-height: 120px;
$footer-height: 200px;

.Explore {
  // Make this page fill the screen.
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .content {
    // Use flexbox for layout
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100%;
    width: 100%;

    p.section-header {
      font-variant: small-caps;
      text-transform: lowercase;
      text-align: center;
      margin-top: 15px;
      font-weight: 600;
      cursor: default;
    }

    .controls {
      width: 360px;
      padding: 10px;


      .search {
        padding: 5px;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
      }

      .results {
        margin-top: 30px;
        padding: 5px;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.14);
        background-color: #FCFCFC;
        transition: opacity 0.4s ease;

        &.hideResults {
          opacity: 0;
        }

        &.showResults {
          opacity: 1;
        }
      }
    }

    .map {
      flex: 1;
    }
  }

  .mode-selector {
    z-index: 1000;
    position: absolute;
    top: 15px;

  }
}

// Needs to be global
.rc-tooltip {
  max-width: 340px;

  .rc-tooltip-inner {
    text-align: center;
    font-size: 12px;
  }

}
