.particle-vis {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

  .particle-vis-svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .toggled-point {
    fill: tomato;
    stroke: #fff; /* add a white stroke to make it stand out more */
  }

  .highlighted-point {
    fill: gold;
    stroke: #fff;
  }

  .related-toggled-point {
    fill: #0bb;
    stroke: #fff; /* add a white stroke to make it stand out more */
  }

  .related-toggled-point-line {
    stroke: #0cc;
    fill: none;
  }

  .particle-vis-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
    min-width: 80px;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}
